@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --light-color: #fff;
    --actient-color: #4541FE;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}
h7{
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    display: block;
    margin-bottom: 24px;
}
h5 {
    margin-top: -24px;
    font-size: 13px;
    line-height: 17px;
}
.flex-container{
    display: flex;
}
.light-color{
    color: #fff;
}
a:hover{
    opacity: 0.5;
}
.categoria-group a{
    padding-bottom: 8px;
}
body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background: #c5c5c5;
}
.title{
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;  
}
.subtitle{
    opacity: 0.75;
    font-size: 13px;
    line-height: 17px;
}
/*
    Footer
*/
footer{
    background: #000;
    position: relative;
}
footer *{
    color: #fff;
    font-size: 16px;
    line-height: 21px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 152px;
    padding-bottom: 32px; 
}
.footer-contact{
    margin-top: 32px;
}
.footer-nav{
    display: flex;
}
footer .categoria-group{
    margin-right: 48px;
}
.group-title a{
    font-weight: bold;
}
.group-items{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 9px;
}
.bottom-title{
    display: flex;
    margin-top: 56px;  
}
.bottom-title *{
    color: #666;
    display: block;
    margin-right: 24px;
}
.bottom-title a:hover{
    color: #fff;
}
/*
    Header
*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0px 152px;
    z-index: 99;
    position: relative;
}
header.dark{
    background: linear-gradient(267.53deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
}
header.dark *{
    color: #fff;
}
header.dark * a:hover{
    color: #fff;
    opacity: 0.5;
}
header a{
    line-height: 21px;
    font-size: 16px;
}
.header-menu{
    display: flex;
    max-width: 80%;
}
.nav-menu{
    display: flex;
    padding: 0;
    max-width: 100%;
    padding: 0;
}
a.logo{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    margin-right: 24px;
}
.menu-item{
    display: block;
    margin-left: 24px;  
}
.menu-item a:hover, .item-size a:hover,
a.page:hover{
    color: var(--actient-color);
    opacity: 1;
}
.shopping-cart i{
    position: relative;
    margin-right: 6px;
}
.shopping-cart i::after{
    color: #fff;
    background: var(--actient-color);
    top: -5px;
    left: 6px;
    content: "5";
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 50%;
    position: absolute;
}
.empty{
    opacity: 0.25;
}
/*
Main
*/
.body-wrap{
    background: #fff;
}
main{
    padding: 0 152px 0;
    position: relative;
    z-index: 99;
}
main h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    margin: 32px 0;
}
main p {
    margin-top: 8px;
}
.main-info{
    max-width: 240px;
}
.main-cat{
    display: flex;
    justify-content: space-between;
    margin: 48px 0 64px 0;
}
.main-cat a{
    color: var(--actient-color);
}
.main-grid-news{
    display: grid;
    grid-template: 
    "a b" 320px
    "c b" 160px;
    grid-template-columns: 464px 1fr;
    grid-gap: 24px;
}
.news-title a{
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    position: relative;
    z-index: 99;
}
.news-subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-top: 8px;
    position: relative;
    z-index: 99;
}
.news-promo{
    position: relative;
    background: #FFA88C;
    padding: 24px 16px;
}
.news-promo:nth-child(2){
    background: #7482FF;
}
.news-promo:nth-child(2) *{
    color: #fff;
}
.news-promo:nth-child(3){
    grid-area: b;
    background: #FFE9FD;
}
.news-promo * {
    position: relative;
    z-index: 99;
}
.news-promo-img{
    position: relative;
    margin-top: -20px;
    padding-right: -20px;
    width: 105%;
    z-index: 0;
    max-width: 700px;
}
.news-promo-big{
    width: 115%;
}
.about-contact{
    background: #F2F2F2;
}
.about-wrapper{
    display: flex;
    margin-bottom: 64px;
}
.about-contact{
    margin-top: 78px;
    margin-left: 86px;
    padding: 32px;
    flex-shrink: 0.7;
}
.about-contact * {
    font-size: 16px;
    line-height: 21px;
}
.contact-wrapper{
    display: block;
    padding: 16px 0;
}
.categoria-group a{
    font-size: 16px;
}
/*
    PromoHeader
*/
.slide-button{
    top: 45%;
    width: 25px;
    height: 25px;
    opacity: .75;
    position: absolute;
    border: transparent;
    cursor: pointer;
    padding: 0 32px;
    z-index: 9999;
}
.slide-button:hover{
    opacity: 1;
}
.slide-prev{
    background: url("../assets/icons/arr-left.svg") center no-repeat;
}
.slide-next{
    right: 0;
    background: url("../assets/icons/arr-right.svg") center no-repeat;
}
.slide-prev-dark{
    left: -48px;
    background: url("../assets/icons/arr-left-black.svg") center no-repeat;
}
.slide-next-dark{
    right: -48px;
    background: url("../assets/icons/arr-right-black.svg") center no-repeat;
}
.promo-slider-wrapper{
    position: relative;
    z-index: 0;
    margin-top: -48px;
    height: 600px;
    width: 100%;
}
.promo-img-wrapper{
    position: relative;
    height: 600px;
    width: 100%;
    background: no-repeat center;
    display: flex;
    align-items: flex-end;
    z-index: 0;
}
.promo-title{
    position: relative;
    z-index: 99;
    margin-left: 160px;
    margin-bottom: 72px;
    font-size: 64px;
    line-height: 83px;
    font-weight: bold;
}
/*
    Product-slider
*/
.product-wrapper{
    margin: 24px 0 72px 0;
    padding: 24px 0;
    background: #F3F3F3;
    height: 480px;
    overflow: hidden;
}
.product-wrapper *{
    position: relative;
    z-index: 99;
}
.product-title{
    padding-left: 16px;
}
.product-item{
    margin-top: -130px;
    max-width: 500px;
    position: relative;
    z-index: 0;
}
.product-item img{
    width: 100%;
}
#product-slider{
    z-index: 0;
    width: 100%;
}
/*
    Catalog
*/
.black-line{
    position: absolute;
    background: #000;
    height: 160px;
    width: 100%;
    z-index: 0;
}
.catalog-shoes{
    display: flex; 
    flex-wrap:wrap;
}
.product-card{
    margin: 0 32px 48px 0;
}
.product-card a:hover, .product-card a:hover *{
    opacity: 1;
    color: var(--actient-color);
}
.catalog-nav{
    margin-bottom: 40px;
}
.page{
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}
.page.active{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-right: 2px;
}

/*
    Item
*/
ul.detail{
    padding-left: 20px;
}
ul.detail>li{
    list-style-type: '— ';
}
.radiobutton{
    display: block;
    margin-right: 12px;
}
.radiobutton:last-child{
    margin-right: 0;
}
.radiobutton input[type=radio] {
    display: none;
}
.radiobutton:hover span{
    border: 1px solid #666666;
}
.radiobutton span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    background: #FBFBFB;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    line-height: 21px;
    min-width: 42px;
    min-height: 32px;
}
.radiobutton input[type=radio]:checked +span{
    color: #fff;
    background: #666666;
    border: 1px solid #666666;
}
.item-size *{
    font-size: 13px;
    line-height: 17px;
}
.item-setting-title{
    min-width: 80px;
    margin-right: 20px;
}
.item-row-setting{
    display: flex;
    align-items: center;
}
.item-row-setting:first-child{
    margin-top: 0;
}
.item-buy-settings{
    background: #f2f2f2;
    padding: 24px 24px 40px;
    width: 450px;
    margin: 32px 0 40px -24px;
}
.item-buy-settings > * {
    margin-top: 24px;
}
.item-button-primary:hover{
    background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
}
.item-button-primary{
    padding: 10px 25px;
    background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
    box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
    border-radius: 4px;    
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-top: 40px;
}
.item-description-grid{
    display: grid;
    gap: 32px;
    max-width: 370px;
    grid-template: 
    "a b"
    "c c"
    "d d" ;
    margin-bottom: 40px;
}
.description-item-grid:nth-last-child(2){
    grid-area: c;
}
.description-item-grid:nth-last-child(1){
    grid-area: d;
}
.desc-subtitle{
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    color: #AFAFAF; 
}
.item-slider{
    position: relative;
    margin-top: 32px;
    margin-left: 54px;
    max-width: 60%;
}
#item-nav .slick-active.slick-current,  #item-nav .slick-active:hover{opacity: 1;}
#item-nav .slick-active{opacity: 0.3; cursor: pointer;}
#item-nav{
    margin-top: 24px;
}
img.item-nav-slider{
    margin-right: 16px;
}
img.item-nav-slider:last-child{
    margin-right: 0px;
}
.slider-recommend{
    margin-bottom: 64px;
}
.title-recommend{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
a.title-recommend:hover{
    color: var(--actient-color);
    opacity: 1;
}
.recommend-slide{
    margin: 0 16px; 
}
.recommend-slide  *.subtitle{
    margin: 4px 0;
} 
#slider-recommend{
    position: relative;
    margin: 0 auto;
    max-width: 92%;
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #slider-recommend{
        max-width: 85%;
    }
}
.checkout-cmpl-wrapper{
    margin-bottom: 64px;
}
main.checkout{
    margin-top: -32px;
    padding: 32px 152px 24px;
}
img.checkout-item{
    width: 160px;
    height: auto;
    margin-right: 16px;
    margin-bottom: 24px;
}
.summary-line{
    height: 1px;
    background: #DDD;
}
.summary{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.price-sum{
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
form.checkout-form{
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
}
.checkout-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-row > input, .input-wrapper > input,  .checkout-form textarea{
    background: #FBFBFB;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px 12px 11px 17px;
    font-size: 16px;
    width: 265px;
}
.form-row{
    display: flex;
    margin-bottom: 24px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}
.checkout-form label{
    display: block;
    width: 65px;
    margin-left: 24px;
    margin-right: 40px;
    font-size: 16px;
    line-height: 21px;
    padding-top: 12px;

}
.rectangle{
    padding: 24px 20px;
    background: #f2f2f2;
    display: flex;
}
.form-info{
    width: 130px;
    font-size: 13px;
    line-height: 17px;
    margin-right: 40px;
}
.rectangle  *.item-button-primary{
    margin-top: 0;
}
.checkout-footer{
    display: flex;
    margin-top: 80px;
}
.checkout-footer > *{
    display: block;
    margin-right: 24px;
}
.checkout-footer *{
    font-size: 13px;
    line-height: 17px;
    opacity: 0.75;
}
.input-wrapper > .subtitle{
    margin-left: 10px;
}

/*
addaptive
*/
@media screen and (min-width: 320px) and (max-width: 1199px) {
    #slider-recommend{
        max-width: 264px;
    }
    .footer-nav{
        flex-direction: column;
    }
    .footer-group{
        margin-bottom: 32px;
    }
    .footer-content{
        padding-left: 16px;
    }
    .bottom-title{
        margin-top: 0;
        flex-direction: column;
    }
    header{
        padding: 0px 16px;
    }
    .nav-menu{
        position: relative;
        overflow: hidden;
    }
    .shopping-cart>a>span{
        display: none;
    }
    main, main.checkout{
        padding: 0;
    }
    .about-wrapper{
        flex-direction: column;
    }
    .about-contact{
        margin: 16px 0;
    }
    .main-cat{
        flex-wrap: wrap;
        padding: 16px 24px;
        margin: 0;
    }
    .main-grid-news{
        grid-template:
        "a"
        "b"
        "c";
        gap: 0;
    }
    .product-wrapper{
        margin: 0;
    }
    .promo-title{
        margin-left: 5px;
    }
    .product-item{
        z-index: 0;
        margin-top: -110px;
        width: calc(90vw);
        position: relative;
    }
    @media screen and (min-width: 320px) and (max-width: 500px) {
        #product-slider{
            transform: rotate(35deg);
            width: calc(110vw);
        }
    }
    .itemcard.flex-container{
        flex-direction: column;
    }
    .item-slider{
        order: 1;
        margin: 38px auto 0px;
        max-width: 80%;
    }
    .item-wrapper{
        order: 2;
        margin: 24px 12px;
    }
    .item-buy-settings{
        width: 105%;
        margin: 16px -12px 24px -12px;
    }
    .item-row-setting{
        flex-direction: column;
        align-items: flex-start;
    }
    .item-row-setting > .radiobutton{
        margin-bottom: 4px;
    }
    .item-setting-title{
        margin-bottom: 12px;
    }
    .checkout-cmpl-wrapper, .slider-recommend{
        padding: 0 8px;
    }
    .checkout-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .checkout-cart{
        padding: 16px;
    }
    .summary{
        align-items: flex-start;
    }
    form.checkout-form{
        padding: 0;
    }
    form.checkout-form label{
        padding: 0;
        margin-left: 0;
    }
    .form-row{
        margin-left: 16px;
        flex-direction: column;
    }
    .rectangle{
        flex-direction: column;
    }
    .rectangle .item-button-primary{
        margin-top: 16px;
        width: 230px;
    }
    .checkout-footer{
        flex-direction: column;
    }
    .checkout-footer > * {
        margin-left: 16px;
        margin-bottom: 16px;
    }
    main.checkout > h1{
        padding-top: 24px;
        margin-left: 16px;
    }
}
