mixin footer-menu-group(item)
    .categoria-group
        .group-title
            a(href= item.url)= item.title
        .group-items
            for i in item.items
                a(href= i.url)= i.title
        if block 
            block

footer
    .footer-content
        nav.footer-nav
            for menu_item in catalog
                +footer-menu-group(menu_item)
                    if menu_item.title == 'Фетч'
                        .footer-contact
                            a(href="mailto:shop@fetch.ru") shop@fetch.ru
                            .footer-phone
                                .phone.title 8 800 912-11-42
                                .phone.subtitle Звонок бесплатный
   
        .bottom-title
            span © Фетч-команда, 2019
            a(href="http://") Правила обработки персональных данных
            a(href="http://") Разработка и поддержка сайта
