footer
    .footer-title(itemscope itemtype="http://schema.org/Organization")
        div    
            h2 Написать нам
            h3 
                |Заполните форму справа<br> 
                |или отправьте письмо на 
                a(href="mailto:shop@reproduct.io" itemprop="email") shop@reproduct.io
        .footer-text
            span(itemprop="name") Репродукция 2020
            a(href="#popup-dialog" class='popup-with-move-anim') Правила обработки персональных данных
    form(action='/add_movie', method='POST' id='feedback')  
        input(type='text', placeholder='Эл.почта', id='email')
        label(for="email" class='error-hint' id='email-label') Введите почту в формате <br> xxx@xxx.xxx 
        textarea(name='Message', placeholder='Сообщение')
        .button-wrapper
            input(id='submit', type='button', class='button', value='Отправить сообщение') 
    .message-success
        h4 Отправлено
        h3 Мы ответим Вам на почту в течение нескольких рабочих дней.