header
    nav.header-menu
        a(href="index.html").logo Фетч
        ul.nav-menu 
            for item in menu
                li.menu-item
                    a(href= item.url)= item.title
    .shopping-cart
        a(href="checkout.html") 
            <i class="fa fa-shopping-cart" aria-hidden="true"><div id='shopping-bug'></div></i>
            span Оформить заказ
