<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фетч — мультибрендовый магазин модной одежды.</title>
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/slick.css")
    link(rel="stylesheet", href="styles/slick-theme.css")
    link(rel="stylesheet", href="assets/font-awesome-4.7.0/css/font-awesome.min.css")
</head>
<body>
    .body-wrap
        include promoheader.pug
        include main.pug
        include footer.pug
    script(src="scripts/modules/jquery-3.5.1.min.js")
    script(src="scripts/modules/slick.min.js")
    script(src="scripts/menu.js")
    script(src="scripts/index.js")
</body> 
</html>
