<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание на неделю 2</title>
    <link rel="stylesheet" href="styles\style.css">
    script(src="scripts\\code.js")
    <script src="https://use.fontawesome.com/21dfe0475d.js"></script>
</head>
<body>
    <div id="leftPanel">
        include image.pug
    </div>
    <div id="mainPanel">
        include main.pug
    </div>
    <div id="rightPanel">
        include links.pug
    </div>
</body>
</html>