h2= "Интересно посмотреть"
div(class='links-wrapper') 
    a(class='button' href='https://www.kinopoisk.ru/film/1143242/') Джентльмены на Кинопоиске
    |
    |
    a(class='button' href='google.com') Звездные войны на Кинопоиске
    |
    |
    a(class='button', href='google.com') Человек паук на Кинопоиске