-
    var productList = [
    {
        title: "Девушка с жемчужной сережкой, 1665",
        img: 'assets/img/placeholder.jpg',
        datasrc: "assets/img/product_item1.jpg",
        author: "Ян Вермеер",
        size: "44x39 см, холст",
        price: '900Р',
        main_color: 'blue',
        custom_css: '',
    },
    {
        title: "Бонапарт на перевале Сен-Бернар, 1801",
        img: 'assets/img/placeholder.jpg',
        datasrc: "assets/img/product_item2.jpg",
        author: "Жак-Луи Давид",
        size: "261x220 см, холст",
        price: '3 900Р',
        main_color: 'red',
        custom_css: '',
    },
    {
        title: "Охотники на снегу, 1565",
        img: 'assets/img/placeholder.jpg',
        datasrc: "assets/img/product_item3.jpg",
        author: "Питер Брейгель Старший",
        size: "44x39 см, холст",
        price: '2 400Р',
        main_color: 'green',
        custom_css: 'max-width:400px',
    },
    ];

mixin product-item(product)
    .product-item(itemscope itemtype="http://schema.org/Product" style= product.custom_css)
        .product-img
            if product.main_color == 'blue'
                img.js-lazy(itemprop="image", src= product.img, data-src= product.datasrc, alt="item-preview" class='product-shadow-blue')
            else if product.main_color == 'red'
                img.js-lazy(itemprop="image", src= product.img, data-src= product.datasrc, alt="item-preview" class='product-shadow-red')
            else   
                img.js-lazy(itemprop="image", src= product.img, data-src= product.datasrc, alt="item-preview" class='product-shadow-green')
            end
        .product-title(itemprop="name")= product.title
        .product-author= product.author 
            .product-last-line
                .product-size(itemprop="size")= product.size
                .product-price(itemprop="price")= product.price

main
    h2 Популярное
    h3.margin-bottom-large Нестареющая классика и бестселлеры 
    .products-slider-wrapper
        .products-slider
            for product in productList
                +product-item(product)
