mixin cat-menu-group(item)
    .categoria-group
        .group-title
            a(href= item.url)= item.title
        .group-items
            for i in item.items
                a(href= i.url)= i.title
        if block 
            block

main
    .main-cat
        .main-info
            |Фетч — мультибрендовый магазин модной одежды.
            p Следим за трендами и часто обновляем ассортимент.
            p Доставляем по Москве за день, по России — за неделю.
        for item in catalog.slice(1)
            +cat-menu-group(item)
    .main-grid-news
        .news-promo
            h2.news-title 
                a(href="#") Лукбук, лето 2019
            h3.news-subtitle Стильные образы для тёплых деньков
            img(src="assets/img/promo/lookbook.png", alt="Новая коллекция adidas Originals" class= "news-promo-img")
        .news-promo
            h2.news-title 
                a(href="#") Выбор редакции: часы
            h3.news-subtitle ТОП-5 лучших предложений по версии администрации Фетч
        .news-promo
            h2.news-title 
                a(href="#") Новая коллекция adidas Originals
            h3.news-subtitle Десять крутейших кроссовок
            img(src="assets/img/promo/sneakers.png", alt="Новая коллекция adidas Originals" class= "news-promo-img news-promo-big")
    .product-wrapper
        .product-title
            h2.news-title 
                a(href="#") Предзаказ: Maison Margiela Fusion
            h3.news-subtitle От 92 000 ₽
        #product-slider
            .product-item
                img(src="assets/img/product_slider/image1.jpg", alt="")
            .product-item
                img(src="assets/img/product_slider/image2.jpg", alt="")
            .product-item
                img(src="assets/img/product_slider/image3.jpg", alt="")
