#popup-dialog.popup.zoom-anim-dialog.mfp-hide 
    h4.table-title Таблица размеров
    table.table-size
        tr
            th US
            - for (let i = 4; i < 8; i += 0.5)
                td= i
            
        tr
            th UK
            - for (let i = 3.5; i < 7.5; i += 0.5)
                td= i
            
        tr
            th EU
            - for (let i = 36; i < 44; i ++)
                td= i